@charset "ISO-8859-1";

body {
   
    margin:8px;
	padding:0px;
	font-family:sans-serif;
	background-image : linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../images/img4.jpg);
	background-repeat : no-repeat;
	background-size: cover;
	background-position : center center;
	background-attachment : fixed;
}
.container {
    width: 406px;
    max-width: 406px;
    margin: 0 auto;
    margin-top :80px;
}

#adduser {
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
}

#adduser .header {
    margin-bottom: 20px;
}

#adduser .header h3 {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 13px;
    margin-left:75px;
}


#adduser.sep {
    height: 1px;
    background: #e8e8e8;
    width: 406px;
    margin: 0px -25px;
}

#adduser .inputs {
    margin-top: 25px;
}

#adduser .inputs label {
    color: #8f8f8f;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
}

input::-webkit-input-placeholder {
    color:   #454545;
}




.adddetails {
    background: white;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 330px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
    
    background: white;
    box-shadow: 0px 0px 0px 3px #AED6F1 , inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
    outline: none;   

}


#adduser .inputs #submit {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
        background: -moz-linear-gradient(
        top,
        #b9c5dd 0%,
        #a4b0cb);
    background:#00B4CC ;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
  
}

